*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
#container{

    text-align: center;
    height: 30vh;
    width: 70%;
    background-color: black;
    color: white;
}

