*{
    margin: 0;
    padding: 0;
}



.background{
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    width: 100%;
    margin-bottom: auto;
    padding: auto;
    
    

}
.banner-title{
    margin: 150px 60px;
    color: black;
}
.banner-title h1{
    font-size: 64px;
    text-align: right;
    margin-bottom: 10px;
    padding-bottom: 20px;
    line-height: 60px;
    top: 20%;
    right: 20%;
    position: absolute;
}
.btn {
    position: absolute;
    top: 20%;
    right: 20%;
    left: 80%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    border-radius: 20px; 
    
    



}
